@import url('https://fonts.googleapis.com/css?family=News+Cycle|Ruda');

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Ruda', sans-serif;
  color: #222;
  margin: 0;
}

address {
  text-align: center;
  margin: 0;
}

nav {
  text-align: center;
  background-color: #DBE6E5;
  border: 3px;
  border-style: ridge;
}

nav ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  color: #7B9694;
}

a:visited {
  color: #9CC0AC;
}

body {
  font-size: 16px;
  font-family: 'News Cycle', sans-serif;
  color: #222;
}

section {
  position: relative;
}

article {
  position: relative;
}

img {
  position: absolute;
  top: 0;
  right: 0;
}

main {
  position: relative;
}

#container {
  max-width: 960px;
  margin: 0 auto;
  border: 1px;
}

#experience article p strong{
  position: absolute;
  top: 0;
  right: 0;
}
